/***********
 * IMPORTS *
 ***********/
 

/* Font */
@import url("modules/font.css");

/* Material Icons */
@import url("modules/material_icons.css");








/***********
 * GLOBALS *
 ***********/
 :root {
    --text-color: #312e2e;
    --error-color: #B71C1C;
}






/*************
 * SANITIZER *
 *************/
 *, *::before, *::after { box-sizing: border-box; border:none; background-repeat: no-repeat; padding:0; margin: 0; }
 html {  word-break: break-word; scroll-behavior: smooth; color: var(--text-color)}
 img { max-width: 100%; }
 ul,ol { list-style: none;padding-left:0;}
 ul li, ol li { margin: 10px 0 10px 0; }
 ul li .material-icons, ol li .material-icons { vertical-align: middle;}






/************
 * APP BODY *
 ************/
body {
    font-family: "Montserrat", "Roboto", sans-serif;
/*     width:100%;
    height:100%; */
}




/*****************
 * APP CONTAINER *
 *****************/
.app-container {
    display: flex;
    flex-direction: row;
    height:100vh;
}







/********************
 * SPLASH CONTAINER *
 ********************/
.splash-container {
    flex: 1;
    background-image: url(../assets/splash.jpg);
    background-size: cover;
    position: relative;
}


/* Logo Box */
.splash-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    color: white;
    margin-top: 20vh;
}
.splash-container .logo p {
    font-size:72px;
    font-weight: bold;
    margin-left: 15px;
}


/* Photo Credit */
.photo-credit {
    position: absolute;
    bottom:15px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    text-align: center;
    color:white;
}
.photo-credit a {
    color:white;
    text-decoration: underline;
    font-weight: bold;
}
.photo-credit a:hover { text-decoration: none; }
.photo-credit a:visited { color:white; }






/******************
 * FORM CONTAINER *
 ******************/
.form-container {
    flex: 1;
    background-color: #fafafa;
    padding:70px;
}


/* Form Heading */
.form-container .form-heading {

}
.form-container .form-heading h1 { font-size: 2.3rem;font-weight:bold }
.form-container .form-heading p { margin-top: 25px;font-size: 1.2rem; }



/* Form Group */
.form {
    margin-top:35px;
}

.form .form-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


/* Form Control */
.form .form-row .form-control {
    padding: 15px 5px 15px 5px;
    flex: 1;
}
.form .form-row .form-control input {
    width: 100%;
    border:0px;
    background-color: inherit;
    border-bottom: 1px solid var(--text-color);
    padding:7px;
    margin-top: 10px;
    /* border-radius: 4px; */
}
.form .form-row .form-control input:focus,
.form .form-row .form-control input:active {
    outline: none;
    border-bottom: 2px solid var(--text-color);
    margin-bottom: -2px;
}
.form .form-row .form-control label {
    display: block;
}


/* Form Control Error */
.form .form-row .form-control .error .md-icon {vertical-align: middle;}

.form .form-row .form-control .error-color {
    color: var(--error-color);
}
.form .form-row .form-control input.errored { 
    border-bottom: 2px solid var(--error-color);
    margin-bottom: -2px;
}
.form .form-row .form-control .error {
    font-size: 1rem;
    color: var(--error-color);
    margin-top:3px;
    display: none;
}



/* Form Submission */
.form button {
    padding:15px;
    color:white;
    background-color: var(--text-color);
    font-weight: bold;
}
.form button:hover,
.form button:active,
.form button:focus { background-color: #000000; }
.form button:hover { cursor: pointer;}
.form button:focus { outline: none; }
.form button:disabled {
    cursor: not-allowed;
    background-color: #a09a9a;
}



/* Form Footer */
.form .form-footer {
    display: block;
    margin-top: 25px;
}
.form .form-footer p {margin-top: 15px;}
.form .form-footer a { color: var(--text-color); font-weight: bold}
.form .form-footer a:hover { color: #000000; text-decoration: none;}












/*********
 * MODAL *
 *********/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-content-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-content-header p { 
    margin: 0;
    font-size: 19px;
    font-weight: 600;
}
.modal-content-header a {
    color: var(--text-color);
    margin-left: auto;
}
.modal-content-header a:hover { opacity: 0.5;}
.modal-internal-content {
    margin-top:15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-internal-content .md-icon {

}
.modal-internal-content .modal-content-message {
    margin-left: 15px;
}
.modal-internal-content .modal-content-message p {
    font-size: 1rem;
    color: #665e5e;
}














/****************************
 * RESPONSIVE MEDIA QUERIES *
 ****************************/


/*
 * DEVICE: Desktops
 * SCREEN: 1281px to higher resolution desktops
 */
 @media (min-width: 1281px) {



    /* Form Container */
    .form-container { padding:40px; }
    .form-container .form-heading h1 { font-size:2rem}
    .form-container .form-heading p { font-size:1.1rem}
 }
 
 
 /*
  * DEVICE: Laptops, Desktops
  * SCREEN: B/w 1025px to 1280px
  */
 @media (min-width: 1025px) and (max-width: 1280px) {
 
 
 
    /* Form Container */
    .form-container { padding:30px; }
    .form-container .form-heading h1 { text-align: center; font-size:1.8rem}
    .form-container .form-heading p { font-size:1rem}
    .form .form-row { margin-top:0px}
 }
 
 
 /*
  * DEVICE: Tablets, Ipads (portrait)
  * SCREEN: B/w 768px to 1024px
  */
 @media (min-width: 768px) and (max-width: 1024px) {
    /* App Container */
    .app-container { flex-direction: column; } 

    /* Splash Container */
    .splash-container { min-height:100vh; }
    .splash-container .logo {margin-top: 15vh;}
 
 
 
 
    /* Form Container */
    .form-container { padding:30px; }
    .form-container .form-heading h1 { text-align: center; }
    .form .form-row { margin-top:0px}



    /* Modal */
    .modal {}
    .modal-content { width: 50%; }
 }
 
 
 /*
  * DEVICE: Tablets, Ipads (landscape)
  * SCREEN: B/w 768px to 1024px
  */
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* App Container */
    .app-container { flex-direction: column; } 

    /* Splash Container */
    .splash-container { min-height:100vh; }
    .splash-container .logo {margin-top: 15vh;}
 
 
 
    /* Form Container */
    .form-container { padding:30px; }
    .form-container .form-heading h1 { text-align: center; }
    .form .form-row { margin-top:0px}



    /* Modal */
    .modal {}
    .modal-content { width: 50%; }
 }
 
 
 /*
  * DEVICE: Low Resolution Tablets, Mobiles (Landscape)
  * SCREEN: B/w 481px to 767px
  */
 @media (min-width: 481px) and (max-width: 767px) {
    /* App Container */
    .app-container { flex-direction: column; } 

    /* Splash Container */
    .splash-container { min-height:100vh; }
    .splash-container .logo {margin-top: 15vh;}
 
     
 
    /* Form Container */
    .form-container { padding:30px; }
    .form-container .form-heading h1 { text-align: center; }
    .form .form-row { flex-direction: column; margin-top:0}
    .form .form-row input { margin-top:25px}
    .form .form-footer { text-align: center;}



    /* Modal */
    .modal {}
    .modal-content { width: 70%; }
 }
 
 
 /*
  * DEVICE: Most of the Smartphones Mobiles (Portrait)
  * SCREEN: 480px to lower resolution mobiles
  */
@media (max-width: 480px) {
    /* App Container */
    .app-container { flex-direction: column; } 


    /* Splash Container */
    .splash-container { min-height:100vh; }
    .splash-container .logo {margin-top: 15vh;}
    .splash-container .logo p,
    .splash-container .logo md-icon { font-size:36px; }
    .splash-container .photo-credit { font-size:0.8rem; }



    /* Form Container */
    .form-container { padding:15px; }
    .form-container .form-heading h1 { text-align: center; }
    .form .form-row { flex-direction: column; margin-top:0}
    .form .form-row input { margin-top:25px}
    .form .form-footer { text-align: center; font-size: 0.8rem;}



    /* Modal */
    .modal {}
    .modal-content { width: 85%; }
    .modal-internal-content { align-items: flex-start;}
    .modal-internal-content .md-icon { font-size: 48px;}
    .modal-internal-content .modal-content-message p { font-size: 0.8rem;}
}